body{
    background-color: whitesmoke; 

}   

.menu-container{
  display:grid;
  background-color:#2F3540;
  grid-template-columns: auto auto auto auto auto auto ;
  text-align:center;
margin-bottom: 15px;
  
  }

  .medier-container{
    background-color:lightsteelblue;
    display:grid;
    grid-template-columns: auto auto auto;
text-align:center;
padding:1%;
margin-top:10%;
  }

  .medier img{
    display:grid;
max-width:20%;  }
  
  

.menu-sidor-index{
    display:grid;
    align-items: center;
}

.menu-sidor-index a{
  color:white;
  text-decoration:none;
}

.menu-sidor-index a:hover{
  border-bottom:3px solid red;
}

.menu-sidor-genre{
  display:grid;
  align-items: center;
}

.menu-sidor-genre a{
  color:white;
  text-decoration:none;
}

.menu-sidor-genre a:hover{
  border-bottom:3px solid red;
}

.menu-sidor-genre a:active{
  border-bottom:3px solid red;
}


.menu-sidor-klassiker{
  display:grid;
  align-items: center;
}

.menu-sidor-klassiker a{
  color:white;
  text-decoration:none;
}

.menu-sidor-klassiker a:hover{
  border-bottom:3px solid red;
}

.menu-sidor-klassiker a:active{
  border-bottom:3px solid red;
}


.menu-sidor-favoriter{
    display:grid;
  align-items: center;
}

.menu-sidor-favoriter a{
  color:white;
  text-decoration:none;
}

.menu-sidor-favoriter a:hover{
  border-bottom:3px solid red;
}

.menu-sidor-favoriter a:active{
  border-bottom:3px solid red;
}


.menu-konto{
    display:grid;
    grid-template-columns: auto;
   width:100%;
    align-items: center;
}

.menu-konto a{
  color:white;
  text-decoration:none;
}

.menu-konto a:hover{
  border-bottom:3px solid red;
}

.menu-konto a:active{
  border-bottom:3px solid red;
}


.menu-sok{
    display: grid;
    justify-content: center;
    align-items: center;

}

.form {
    display: grid;
    grid-template-columns: auto auto;
   
}



* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-grid;
  transition: background-color 0.6s ease;
  margin-bottom:10px;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.topplistan-container{
    display:grid;
    grid-gap:15px;
    text-align:center;
    color:white;
    margin-bottom: 50px;
}

.topplistan {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color:#666A73;

  }

  .veckans-film{
      grid-row-start:1;
      grid-row-end:4;
      background-color:#666A73;

  }


.topplistan-film{
    background-color:#666A73;

}



img{
    max-width:100%;
    padding:10px
}


  

  

.film-genrer{
  display:grid;
  grid-template-columns:auto auto auto ;
  text-align: center;
  color:white;
  margin-left:3%;
  margin-right:3%;
  margin-bottom:1%;
grid-gap:1px;
}
  .rubrik-genre{
    background-color: lightslategray;

    grid-column-start: 1;
    grid-column-end: 5;
    padding:1%;
  }
  .genre-beskrivning{
    background-color: lightslategray;
    display:grid;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align:justify;
    padding:1%;
  }
  .genre-bild{
    background-color: lightslategray;

    grid-column-start: 1;
    grid-column-end: 2;
    width:100%;
  }

  .genre-lank{
    background-color: lightslategray;
    grid-column-start: 4;
    grid-column-end: 5;
padding:5%
  }
  
  

  img{
      margin-left: auto;
      margin-right:auto;    
  }

 
.klassiska-container{
  display:grid;
  grid-column-start:1;
  grid-column-end:2;
  width:50%;
  padding:2%;
}
  
.klassiska-container2{
  display:grid;
  grid-gap:3%;
}
  .klassiska-item2{
    display:grid;
    grid-template-columns:auto auto auto ;
    grid-gap:1%;
    text-align:center;
  }

  
  
  .klassiker-filmer{
    background-color:lightsteelblue;
    padding:10px;
  }

  .titel-genre{
    display:grid;
    grid-column-start: 1;
    grid-column-end: 4;

  }

.favoriter-container{
  display:grid;
  grid-template-columns: auto auto auto ;
text-align:center;
padding:1%;
margin-bottom:4%;
}



.forsatt-titta{
  display:grid;
  background-color:gainsboro;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  position:relative;
text-align:center;

grid-gap:2%;
}

.forsatt-text{
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end:3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.forsatt-bild{
  grid-column-start:1;
  grid-column-end:4;
}

.forsatt-mindre{
  grid-column-start:1;
  grid-column-end:4;
  background-color:lightslategrey;
  padding:1%;
}

.progress{
  background-color:white;
}

.forsatt-filmer{
display:grid;
margin-bottom:50%;

}

.progress-bar{
  background-color:black;
}
.progress-bar2{
  background-color:black;
}
.progress-bar3{
  background-color:black;
}

.sr-only{
  color:white;
}

.inlogg-container{
  background-color:lightgray;
  display:grid;
justify-content:center;
grid-template-columns: auto auto;
grid-gap:5%;

padding:5%;
padding-bottom:15%;
text-align:center;
margin-left:20%;
margin-right:20%;
}

.inlogg-container a{
  color:white;
  text-decoration:none;
}
.harkonto{
  display:grid;
  grid-gap:5%;
  grid-template-columns:auto
}

.registrera{
  display:grid;
  grid-gap:5%;
  grid-template-columns:auto

}
.rubrik-logga-in{
  display:grid;
  grid-column-start:1;
  grid-column-end:1;
  
}
.uppgifter{
  display:grid;
  grid-column-start:1;
  grid-column-end:1;
  
}

.logga-in{
  display:grid;
  grid-column-start:1;
  grid-column-end:1;
  background-color:lightskyblue;
  padding:8%;
  
}

.nya-uppgifter{
  display:grid;
  
}

.varfor-konto-container{
  display:grid;
  grid-template-columns:auto auto;
  margin-left:5%;
  margin-right:5%;
  justify-content: center;
  text-align:left;
  color:white;
}

.konto-forklaring{
  background-color:grey;
  display:grid;
align-items:center;
  text-align:center;
}

.konto-preferenser{
  background-color:grey;
  display:grid;
  grid-column-start:1;
  grid-column-end:3;
  grid-template-columns: auto auto;
text-align:center;
padding-top:4%;
padding-bottom:20%;


grid-gap:20%;
}

#preferenser-vanster-skrack{
  background-color:#fff;
  margin-left:20%;
  padding:5%;
}
#preferenser-vanster-mystery{
  background-color:#fff;
  margin-left:20%;
  padding:5%;
}
#preferenser-vanster-Sci-Fi{
  background-color:#fff;
  margin-left:20%;
  padding:5%;
}

.info-preferenser{
  display:grid;
  background-color:grey;
  grid-column-start:1;
  grid-column-end:3;
  text-align:center;
}


#preferenser-hoger-action{
  background-color:#fff;
  margin-right:20%;
  padding:5%;
}
#preferenser-hoger-komedi{
  background-color:#fff;
  margin-right:20%;
  padding:5%;
}
#preferenser-hoger-karlek{
  background-color:#fff;
  margin-right:20%;
  padding:5%;
}



#spara-mitten{
background-color:#85E823;
  display:grid;
  margin-left:20%;
  margin-right:20%;
  padding:2%;
  grid-column-start:1;
  grid-column-end:3;
justify-content: center;  
}
  @media screen and (max-width: 600px)
  {
    
    .menu-container{
      display:grid;
      grid-gap:auto;
      grid-template-columns: auto;
      text-align:center;
      margin-bottom: 10px;
      
      }
      
      
      .menu-konto{
          display:grid;
          grid-template-columns: auto;
         
          align-items: center;
          
      }
      
      .menu-sok{
          display: grid;
          align-items: center;
          padding:5%;
      }
      
      .form {
          display: grid;
          grid-template-columns: auto auto; 
          align-items:center;
      
      }
      
      
      
      
      * {box-sizing:border-box}
      
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }
      
      .mySlides {
        display: none;
      }
      
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-grid;
        transition: background-color 0.6s ease;
        margin-bottom:10px;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      .topplistan-container{
          display:grid;
          grid-gap:15px;
          text-align:center;
          grid-template-columns: auto;
          color:white;
          margin-bottom: 50px;
      }


      .topplistan {
       grid-column-start:1;
       grid-column-end:2;
        background-color:#666A73;
    
      }
    
      .veckans-film{
          grid-row-start:2;
          grid-row-end:2;
          background-color:#666A73;
    
      }


      
     
      
      
      img{
          max-width:100%;
          padding:10px
      }
        img{
            margin-left: auto;
            margin-right:auto;    
        }
      
        .klassiska-container{
          display:grid;
         grid-gap:5px;
         margin-bottom:5px;
         grid-column-start: 1;
         grid-column-end: 2;
         width:100%;

        }
      
        .klassiska-container2{
          display:grid;
          grid-template-columns: auto;
      grid-gap:10px;
      
        }
        .klassiska-item2{
          display:grid;
          background-color:lightyellow;
          grid-template-columns:auto ;
          grid-gap:5px;
          text-align:center;
        }
      
      .klassiker-filmer{
        grid-template-columns: auto;
        grid-column-start: 1;
        grid-column-end: 1;
      }
        
        .film-genrer{
          display:grid;
          text-align: center;
          color:white;
         
        grid-gap:5px;
        }
        .rubrik-genre{
          grid-column-start:1;
          grid-column-end:1;

        }
        .genre-beskrivning{
          grid-column-start:1;
          grid-column-end:1;

        }
        .genre-bild{
          grid-column-start:1;
          grid-column-end:1;

        }
        .genre-lank{
          grid-column-start:1;
          grid-column-end:1;
        }


        .favoriter-container{
          display:grid;
          grid-template-columns: auto;
        text-align:left;
        padding:1%;
        }

        .forsatt-titta{
          display:grid;
          background-color:gainsboro;
          grid-template-columns: auto;
          grid-template-rows: auto;
          position:relative;
        text-align:center;
       
        }
        
        .forsatt-text{
          grid-column-start:1;
          grid-column-end:1;
          grid-row-start:1;
          grid-row-end:1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color:white;
        }
        .forsatt-bild{
          grid-column-start:1;
          grid-column-end:1;
        }
        
        .forsatt-mindre{
          grid-column-start:1;
          grid-column-end:1;
          background-color:lightslategrey;
          padding:1%;
        }





        .inlogg-container{
          background-color:lightgray;
          display:grid;
        justify-content:center;
        grid-template-columns: auto;
        grid-gap:5%;
        
        padding:5%;
        padding-bottom:30%;
        text-align:center;
        margin-left:10%;
        margin-right:10%;
        }
        
        .harkonto{
          display:grid;
          grid-gap:5%;
          grid-template-columns:auto
        }
        
        .registrera{
          display:grid;
          grid-gap:5%;
          grid-template-columns:auto
        
        }
        .rubrik-logga-in{
          display:grid;
          grid-column-start:1;
          grid-column-end:1;
          
        }
        .uppgifter{
          display:grid;
          grid-column-start:1;
          grid-column-end:1;
          
        }
        
        .logga-in{
          display:grid;
          grid-column-start:1;
          grid-column-end:1;
          background-color:lightskyblue;
          padding:8%;
          
        }
        
        .nya-uppgifter{
          display:grid;
          
        }

        .medier img {
          display: grid;
          max-width: 50%;
      }
      .varfor-konto-container{
        display:grid;
        grid-template-columns:auto ;
        margin-left:5%;
        margin-right:5%;
        justify-content: center;
        text-align:left;
        color:white;
        grid-gap:0.5%;
      }
      
      .konto-forklaring{
        background-color:grey;
        grid-column-start:1;
        grid-column-end:2;
        display:grid;
      align-items:center;
        text-align:center;
      }

      .konto-forklaring img{
        width:50%;
      }
      
      .konto-preferenser{
        background-color:grey;
        display:grid;
        grid-column-start:1;
        grid-column-end:1;
        grid-template-columns: auto ;
      text-align:center;
      padding-top:4%;
      padding-bottom:45%;
      
      
      grid-gap:20%;
      }
      
      #preferenser-vanster-skrack{
        background-color:lightgray;
        margin-left:20%;
        padding:5%;
      }
      #preferenser-vanster-mystery{
        background-color:lightgray;
        margin-left:20%;
        padding:5%;
      }
      #preferenser-vanster-Sci-Fi{
        background-color:lightgray;
        margin-left:20%;
        padding:5%;
      }
      
      .info-preferenser{
        display:grid;
        background-color:grey;
        
        text-align:center;
      }
      
      
      #preferenser-hoger-action{
        background-color:lightgray;
        margin-right:20%;
        padding:5%;
      }
      #preferenser-hoger-komedi{
        background-color:lightgray;
        margin-right:20%;
        padding:5%;
      }
      #preferenser-hoger-karlek{
        background-color:lightgray;
        margin-right:20%;
        padding:5%;
      }
      
      
      
      #spara-mitten{
      background-color:lightgray;
        display:grid;
        margin-left:20%;
        margin-right:20%;
        padding:2%;
      
        
      justify-content: center;  
      }
  }